@charset "UTF-8";

@font-face {
    font-family:'BebasNeue';
    src: url('../css/fonts/BebasNeue-webfont.eot') format('embedded-opentype');
    src: url('../css/fonts/BebasNeue-webfont.eot#iefix') format('embedded-opentype'),
    url('../css/fonts/BebasNeue-webfont.woff') format('woff'),
    url('../css/fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('../css/fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mkon-icons";
    src:url("../css/fonts/mkon-icons.eot");
    src:url("../css/fonts/mkon-icons.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/mkon-icons.woff") format("woff"),
    url("../css/fonts/mkon-icons.ttf") format("truetype"),
    url("../css/fonts/mkon-icons.svg#mkon-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, span, p {
	font-family:@display-font;
	font-weight:100;
	margin:0;
	padding:0;
}


@main-font: 'Arial Black', 'Arial Bold', sans-serif;
@sub-font: 'Arial', 'Arial Bold', sans-serif;
@display-font: 'BebasNeue', 'Arial', sans-serif;
@icon-font: 'mkon-icons';
